/* You can add global styles to this file, and also import other style files */
@import 'reset.scss';
@import 'font.scss';
@import "node_modules/loaders.css/src/loaders";
html, body { height: 100%; }
body { margin: 0; font-family: "Rogan" }
a, p, h2, h3{
  letter-spacing: 0.68pt;
  font-family: "Rogan";
}
.btn{
  position: relative;
  display: inline-flex;
  color:#F0D2A1;
  font-size: 0.55em;
  background: #604519;
  padding: 1.9em 2em;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
  &:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 63%;
    width: 93%;
    border: 1px solid #F0D2A1;
  }
  span{
    font-size: 1.3em;
    margin-left: auto;
  }
  &:disabled{
    display: none;
  }
}

nav.toolbar{
  display: flex;
  justify-content: space-between;
  padding: .8em;
  background: #2c3a5a;
  align-items: center;
  h3{
    color: white;
    text-transform: uppercase;
    font-size: 0.7em;
  }
  a:first-child{
    margin-right: 1em;
  }
  a, button{
    cursor: pointer;
    background: none;
    border: none;
    display: inline-flex;
    align-content: center;
    color: white;
    font-size: 1em;
    overflow: auto;
    img{
      width: 1em;
    }
  }
}
