@font-face {
	font-family: "Rogan";
	src: url("./../assets/fonts/Rogan-Regular.eot");
	src: url("./../assets/fonts/Rogan-Regular.eot?#iefix") format("embeddedopentype"), url("./../assets/fonts/Rogan-Regular.woff") format("woff"), url("./../assets/fonts/Rogan-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: normal;
	font-stretch: normal
}
