<nav class="toolbar">
  <a title="Voltar pra listagem" routerLink="./.."><img src="./../../../../../assets/img/arrow_back.png" alt="voltar"></a>
  <h3>Visualização de cliente</h3>
  <div>
    <button title="Deletar" (click)="delete()">
      <img src="./../../../../../assets/img/delete_white.png" alt="editar">
    </button>
    <a style="margin-left: 1em;" title="Editar cliente" routerLink="./edit">
      <img src="./../../../../../assets/img/edit_white.png" alt="editar">
    </a>
  </div>
</nav>
<ul>
  <li>
    <p>
      {{client?.name}}
      <span>NOME</span>
    </p>
  </li>
  <li>
    <p>
      {{client?.cpf}}
      <span>CPF</span>
    </p>
  </li>
  <li>
    <p>
      {{client?.phone}}
      <span>TELEFONE</span>
    </p>
  </li>
  <li>
    <p>
      {{client?.birth_date}}
      <span>DATA DE NASCIMENTO</span>
    </p>
  </li>
  <li>
    <p>
      {{client?.address}}
      <span>ENDEREÇO</span>
    </p>
  </li>
  <li>
    <p>
      {{client?.vehicle_brand?.description}} - {{client?.vehicle_model?.description}}
      <span>VEÍCULO</span>
    </p>
  </li>
</ul>
