:host{
  display: flex;
  flex-flow: wrap column;
  overflow: hidden;
}
nav{
  a:first-child{
    size: 0.6em;
    transform: scale(1,1.2) rotate(180deg);
  }
}
ul{
  flex: 1;
  overflow: auto;
  padding: 1.5em 0 0;
  li p{
    font-size: .75em;
    display: flex;
    margin: 0 1em 0 4.5em;
    padding: 1.7em 0;
    border-bottom: 1px solid rgba(0,0,0, .12);
    flex-direction: column;
    span{
      margin-top: 0.5em;
      font-size: .9em;
      color: rgba(0,0,0, .54);
    }
  }
}
