<form [formGroup]="form" (ngSubmit)="save()">
  <label for="name">Nome</label>
  <input type="text" id="name" formControlName='name'
    maxlength="100">
  <br>

  <label for="cpf">CPF</label>
  <input type="text" formControlName='cpf'
    id="cpf" appCpfMask maxlength="14">
  <br>


  <label for="phone">TELEFONE</label>
  <input type="text" formControlName='phone' id="phone"
    maxlength="100">
  <br>

  <label for="birth_date">DATA DE NASCIMENTO</label>
  <input type="text" id="birth_date" formControlName='birth_date'
    maxlength="100">
  <br>

  <label for="address">ENDEREÇO</label>
  <input type="text" id="address" formControlName='address'
    maxlength="100">
  <br>

  <!-- <label for="vehicle_brand">MARCA DO VEICULO</label>
  <select id="vehicle_brand" formControlName='vehicle_brand'
    maxlength="100">
  </select>
  <br>

  <label for="vehicle_model">MODELO DO VEICULO</label>
  <select id="vehicle_model" formControlName='vehicle_model'
    maxlength="100">
  </select> -->
  <br>

  <button type="submit" [disabled]="form.invalid">SALVAR</button>
</form>
